#about {
  background-image: url(../img/kittenHeader.jpg);
  background-size: cover;
}
.faq {
  padding-top: 100px;
  width: 50%;
  margin: auto;
  text-align: center;
}
.contentFAQ {
  margin-bottom: 50px;
  background-color: white;
  opacity: 0.7;
}
#aboutFooter {
  height: 140px;
  color: white;
}
@media (max-width: 500px) {
  #about {

    background-size: cover;
    background-attachment: fixed;
}
#aboutFooter {
  height: 140px;
}
}
@media (min-width: 900px) {
  .faq {

    width: 50%;

    h3 {
      font-size: 40px;
    }
    p {
      font-size: 25px;
    }
  }
}
