h1{
text-align:center;
color:#444444;
}

#containerbutton{
	position:relative;
	vertical-align: middle;
	line-height: 100px;     
	height:100px;
	width:100%;

			ul{ 

				text-align: center;

				li{	

				display: inline-block;	
				list-style-type:none;
				margin-left:20px;

				a{ 
					text-decoration:none;
					color:#444444;


				}

				}
			}
}
	.containerPlat{
		margin-left:2%;
		position:relative;
						.row {

							.col-md-4{

								text-align:center;	
								a{
								 text-decoration:none;
								 font-size:25px;
								}
								 .description{
								
								font-size:10px;

								;


								}

								.prix{
									


								}
							  }
						}
	}
	
