/*
Error: Undefined variable: "$darkGrey".
        on line 17 of /home/nicolas/dev/Taf Simplon/Semaine 12/CatBar/sass/components/cat-card.scss

12:   margin-bottom: 20px;
13: }
14: .cat-card {
15:   width: 100%;
16:   height: 10em;
17:   box-shadow: 0 0 3px $darkGrey;
18:   background-size: cover;
19:   transition: height 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
20:   overflow: hidden;
21:   position: relative;
22:   h2 {

Backtrace:
/home/nicolas/dev/Taf Simplon/Semaine 12/CatBar/sass/components/cat-card.scss:17
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `map'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/nicolas/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$darkGrey\".\A         on line 17 of /home/nicolas/dev/Taf Simplon/Semaine 12/CatBar/sass/components/cat-card.scss\A \A 12:   margin-bottom: 20px;\A 13: }\A 14: .cat-card {\A 15:   width: 100%;\A 16:   height: 10em;\A 17:   box-shadow: 0 0 3px $darkGrey;\A 18:   background-size: cover;\A 19:   transition: height 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);\A 20:   overflow: hidden;\A 21:   position: relative;\A 22:   h2 {"; }
