#cat-body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/livre-fond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}
#cat-title {
  color: white;
  font-size: 300%;
  text-shadow: 0 0 2px black;
  margin-bottom: 20px;
}
.cat-card {
  width: 100%;
  height: 10em;
  box-shadow: 0 0 3px $darkGrey;
  background-size: cover;
  transition: height 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  overflow: hidden;
  position: relative;
  h2 {
    font-size: 250%;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    width: 100%;
    display: block;
    transition: transform 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  }
  p {
    font-size: 220%;
    position: absolute;
    z-index: 1;
    width: 80%;
    display: block;
    margin-left: 10%;
    margin-top: 25%;
    transition: transform 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  }
}
.cat-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}
.cat-invi {
  opacity: 0;
}
.cat-left {
  transform: translateX(-200%);
}
.cat-right {
  transform: translateX(200%);
}
#cat-card1 {
  background-image: url('../img/léCatz/catcard11.jpeg');
  background-position: center 45%;
}
#cat-card2 {
  background-color: white;
  background-image: url('../img/léCatz/fluffy1.png');
  background-position: center 25%;
}
#cat-card3 {
  background-image: url('../img/léCatz/maine1.jpg');
  background-position: center 20%;
}
#cat-card4 {
  background-image: url('../img/léCatz/griff1.jpeg');
  background-position: center 40%;
}
#cat-card5 {
  background-color: white;
  background-image: url('../img/léCatz/leo1.png');
  background-position: center 20%;
}
#cat-card6 {
  background-image: url('../img/léCatz/little1.jpeg');
  background-position: center 20%;
}
#cat-card7 {
  background-image: url('../img/léCatz/sky1.jpeg');
  background-position: center 40%;
}
#cat-card8 {
  background-image: url('../img/léCatz/rouki1.jpeg');
  background-position: center 60%;
  margin-bottom: 100px;
}
