/* line 1, ../sass/about.scss */
#about {
  background-image: url(../img/kittenHeader.jpg);
  background-size: cover;
}

/* line 5, ../sass/about.scss */
.faq {
  padding-top: 100px;
  width: 50%;
  margin: auto;
  text-align: center;
}

/* line 11, ../sass/about.scss */
.contentFAQ {
  margin-bottom: 50px;
  background-color: white;
  opacity: 0.7;
}

/* line 16, ../sass/about.scss */
#aboutFooter {
  height: 140px;
  color: white;
}

/* line 20, ../sass/about.scss */
.team {
  background-color: white;
}

/* line 24, ../sass/about.scss */
.content {
  padding-top: 30px;
}

/* Heading */
/* line 29, ../sass/about.scss */
.heading {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* line 37, ../sass/about.scss */
.heading:after {
  left: 50%;
  height: 3px;
  width: 50px;
  content: " ";
  bottom: -35px;
  margin-left: -25px;
  position: absolute;
  background: #444;
}

/* line 48, ../sass/about.scss */
.heading h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #444;
}

/* line 55, ../sass/about.scss */
.heading p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #8693a7;
}

/* Team Members */
/* line 64, ../sass/about.scss */
.team-members {
  width: 100%;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
}

/* line 73, ../sass/about.scss */
.team-members .team-avatar {
  position: relative;
}

/* line 77, ../sass/about.scss */
.team-members .team-avatar:after {
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  content: " ";
  position: absolute;
  background: rgba(129, 129, 129, 0.1);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* line 90, ../sass/about.scss */
.team-members .team-avatar img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 96, ../sass/about.scss */
.team-members .team-desc {
  left: auto;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 113, ../sass/about.scss */
.team-members .team-desc h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #fff;
}

/* line 120, ../sass/about.scss */
.team-members .team-desc span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

/* line 128, ../sass/about.scss */
.team-members:hover .team-avatar:after {
  background: rgba(47, 60, 72, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* line 135, ../sass/about.scss */
.team-members:hover .team-desc {
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}

/* line 142, ../sass/about.scss */
.team-members:hover .team-desc {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 500px) {
  /* line 152, ../sass/about.scss */
  #about {
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 900px) {
  /* line 158, ../sass/about.scss */
  .faq {
    width: 50%;
  }
  /* line 162, ../sass/about.scss */
  .faq h3 {
    font-size: 40px;
  }
  /* line 165, ../sass/about.scss */
  .faq p {
    font-size: 25px;
  }
}
