@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
/* line 5, ../sass/index.scss */
body {
  font-family: 'Indie Flower';
}

/* line 9, ../sass/index.scss */
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

/* line 13, ../sass/index.scss */
#headerHome {
  position: relative;
  background-image: url(../img/chatCool.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
}

/* line 21, ../sass/index.scss */
.navbar-inverse .navbar-toggle {
  border-color: white;
}

/* line 24, ../sass/index.scss */
.navbar-inverse .navbar-brand {
  color: white;
  font-size: 35px;
}

/* line 33, ../sass/index.scss */
.headerText {
  font-family: 'Indie Flower';
  text-align: center;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 700%;
  left: 26%;
  color: white;
}
/* line 42, ../sass/index.scss */
.headerText h1 {
  font-size: 50px;
}
/* line 45, ../sass/index.scss */
.headerText h3 {
  font-size: 20px;
}
/* line 48, ../sass/index.scss */
.headerText p {
  font-size: 10px;
}

/* line 55, ../sass/index.scss */
#firstTwoCol h2 {
  font-size: 50px;
}
/* line 58, ../sass/index.scss */
#firstTwoCol p {
  font-size: 25px;
}

/* line 63, ../sass/index.scss */
#secondTwoCol h2 {
  font-size: 50px;
}
/* line 66, ../sass/index.scss */
#secondTwoCol p {
  font-size: 25px;
}

/* line 70, ../sass/index.scss */
.laCarteSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 74, ../sass/index.scss */
.lesChatsSection {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E1BD77;
}

/* line 79, ../sass/index.scss */
.aboutSection {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #DEDEDE;
}

/* line 84, ../sass/index.scss */
.contactSection {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 89, ../sass/index.scss */
footer {
  background-color: white;
  height: 100px;
}

/* line 94, ../sass/index.scss */
footer p {
  color: #black;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: 'Lato';
}

/* line 105, ../sass/index.scss */
.gal {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

/* line 114, ../sass/index.scss */
.gal img {
  width: 100%;
  padding: 7px 0;
}

/* line 116, ../sass/index.scss */
#socials {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 10em;
}

/* line 125, ../sass/index.scss */
.fa {
  color: black;
  transition: 0.8s;
  transition-duration: 3.3s;
}

/* line 131, ../sass/index.scss */
.fa-facebook:hover {
  color: #3b5998;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

/* line 138, ../sass/index.scss */
.fa-twitter:hover {
  color: #1da1f2;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

/* line 146, ../sass/index.scss */
.fa-snapchat-ghost:hover {
  color: #fffc00;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

/* line 154, ../sass/index.scss */
.fa-youtube:hover {
  color: #cd201f;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

/* line 161, ../sass/index.scss */
.fa-instagram:hover {
  color: #e1306c;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

/* line 169, ../sass/index.scss */
.fa-pinterest-p:hover {
  color: #bd081c;
  transform: rotateY(360deg);
  transition: 0.5s;
  transition-duration: 3s;
}

@media (max-width: 500px) {
  /* line 179, ../sass/index.scss */
  .gal {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }

  /* line 190, ../sass/index.scss */
  #socials a {
    margin-right: 25px;
  }

  /* line 196, ../sass/index.scss */
  #socials {
    margin-left: 112px;
  }
}
@media (max-width: 1800px) {
  /* line 207, ../sass/index.scss */
  .navbar-header {
    float: none;
  }

  /* line 210, ../sass/index.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 213, ../sass/index.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 217, ../sass/index.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 220, ../sass/index.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  /* line 224, ../sass/index.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 227, ../sass/index.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 231, ../sass/index.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  /* line 236, ../sass/index.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 239, ../sass/index.scss */
  .collapsing {
    overflow: hidden !important;
  }
}
@media (min-width: 1000px) {
  /* line 244, ../sass/index.scss */
  #headerHome {
    height: 850px;
  }
}
