/* line 1, ../sass/lacarte.scss */
#body {
  background-color: white;
}
/* line 4, ../sass/lacarte.scss */
#body .navbar-black .navbar-toggle {
  border-color: black;
}
/* line 7, ../sass/lacarte.scss */
#body .navbar-black .navbar-brand {
  color: black;
  font-size: 35px;
}
/* line 11, ../sass/lacarte.scss */
#body .navbar-black .navbar-nav > li > a {
  color: black;
}
/* line 15, ../sass/lacarte.scss */
#body .navbar-black .navbar-toggle .icon-bar {
  background-color: black;
}
/* line 18, ../sass/lacarte.scss */
#body #headerHome {
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/lacarte.scss */
#body p {
  text-align: center;
  color: #444444;
  font-size: 15px;
}
/* line 32, ../sass/lacarte.scss */
#body #containerbutton {
  position: relative;
  vertical-align: middle;
  height: 100px;
  width: 100%;
}
/* line 39, ../sass/lacarte.scss */
#body #containerbutton ul {
  text-align: center;
  margin-right: 4%;
}
/* line 44, ../sass/lacarte.scss */
#body #containerbutton ul li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 5px;
}
/* line 50, ../sass/lacarte.scss */
#body #containerbutton ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #444444;
}
/* line 69, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 {
  text-align: center;
  font-size: 25px;
}
/* line 74, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 a {
  text-decoration: none;
  font-size: 35px;
}
/* line 79, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .description {
  font-size: 20px;
}
/* line 87, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .thumbnail {
  background-color: black;
}
/* line 89, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .thumbnail img {
  width: 300%;
  height: auto;
  background-color: white;
}
/* line 102, ../sass/lacarte.scss */
#body .active {
  background-color: #E1BD77;
  box-shadow: 1px 1px 1px 1px #020232;
}
