/* line 1, ../sass/lacarte.scss */
#body {
  background-image: url(../img/Bar.jpg);
}
/* line 5, ../sass/lacarte.scss */
#body #headerHome {
  padding: 0;
  margin: 0;
}
/* line 13, ../sass/lacarte.scss */
#body p {
  text-align: center;
  color: #444444;
  font-size: 15px;
}
/* line 19, ../sass/lacarte.scss */
#body #containerbutton {
  position: relative;
  vertical-align: middle;
  height: 100px;
  width: 100%;
}
/* line 26, ../sass/lacarte.scss */
#body #containerbutton ul {
  text-align: center;
  margin-right: 4%;
}
/* line 31, ../sass/lacarte.scss */
#body #containerbutton ul li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 5px;
}
/* line 37, ../sass/lacarte.scss */
#body #containerbutton ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #444444;
}
/* line 56, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 {
  text-align: center;
  font-size: 25px;
}
/* line 61, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 a {
  text-decoration: none;
  font-size: 35px;
}
/* line 66, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .description {
  font-size: 20px;
}
/* line 74, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .thumbnail {
  background-color: black;
}
/* line 76, ../sass/lacarte.scss */
#body .containerPlat .row .col-md-4 .thumbnail img {
  width: 300%;
  height: auto;
  background-color: white;
}
/* line 89, ../sass/lacarte.scss */
#body .active {
  background-color: #E1BD77;
  box-shadow: 1px 1px 1px 1px #020232;
}
